body {
  background: #ccffbd;
  min-height: 100vh;
}
.header {
  background: #100f0f;
  padding: 4rem 0;
  position: sticky;
  top:0;
  z-index: 999;
}
.logo {
  position: absolute;
  top: 18px;
  align-items: center;
  display: flex;
}

p1 {
  font-family: COCHIN;
  color: #76ba99;
  font-size: 70px;
  letter-spacing: 5px;
}
p,
div {
  animation: aparecer 1s;
}
@keyframes aparecer {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
.imprimir {
  position: relative;
  width: 100%;
  /* width: fit-content;
  min-width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center; */
  /* min-height: 75vh; */
}
.noche {
  padding-bottom: 2rem;
}
.cont {
  width: fit-content;
  position: absolute;
  min-width: 250px;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  overflow-y: hidden;
  text-align: center;
  transition: opacity 1s ease, top 1s ease, bottom 1s ease;
}
.cont.anterior {
  top: -100%;
  bottom: 100%;
  opacity: 0;
  z-index: 1;
}
.cont.actual {
  top: 0;
  bottom: 0;
}
.cont.sig {
  top: 100%;
  bottom: 0;
  opacity: 0;
}
#tamanio {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
  opacity: 0;
  /* outline: thick solid black;
  outline-offset: -2rem; */
}
.linea {
  position: relative;
}
.texto {
  margin-bottom: 0;
}
.corazones {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
.vida {
  height: 23px;
}
.vida img {
  max-height: 100%;
}
.vida.total {
  position: relative;
}
.vida.anterior {
  position: absolute;
  bottom: 0;
  z-index: 2;
}
.vida.jugador {
  position: absolute;
  bottom: 0;
  z-index: 3;
}
.vida.extra {
  position: relative;
  text-align: left;
}
.vacio {
  position: relative;
  top: -14px;
}
.finalista {
  font-size: 30px;
}
.botones {
  position: fixed;
  z-index: 998;
  bottom: 10px;
  padding-left: 20px;

}