html{
    box-sizing: border-box;
}
body{
    margin: 0;
    background: #DBD8E3;
}

.header{
    background: #16131d ;
    padding: 4rem 0;
    position: relative;
}
main{
    min-height: 100vh;
}
.logo {
    position: absolute;
    top:18px;
    align-items: center ;
    display: flex;
    }

p1{
    font-family:COCHIN;
    color: violet;
    font-size: 70px;
    letter-spacing: 5px;
    }
.cont{
    position: absolute;
    width: 100%;
    transition: transform 1s ease, opacity 1s ease;
    transform: translate(0,0);
}
.cont.anterior{
    transform: translate(0, -150%);
    opacity: 0;
}
.cont.sig{
    transform: translate(0, 100%);
    opacity: 0;
}
.botones{
    position: fixed;
    z-index: 998;
    bottom: 10px;
}
.parrafo{
    width: 100%;
    animation: aparecer 0.5s;
}
@keyframes aparecer {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.vida{
    position: absolute;
    transform: translate(10px,-4px);
}
.vida.total{
    z-index: 1;
}
.vida.anterior{
    z-index: 2;
}
.vida.jugador{
    z-index: 3;
}