body {
  background: #ccffbd;
  min-height: 100vh;
}
.header {
  background: #100f0f;
  padding: 4rem 0;
  position: relative;
}
.logo {
  position: absolute;
  top: 18px;
  align-items: center;
  display: flex;
}

p1 {
  font-family: COCHIN;
  color: #76ba99;
  font-size: 70px;
  letter-spacing: 5px;
}
#imprimir {
  position: relative;
}
.cont {
  top: -19px;
  transition: transform 1s ease, opacity 1s ease;
  transform: translate(0, 0);
}
.cont.anterior {
  position: absolute;
  transform: translate(0, -150%);
  opacity: 0;
}
.cont.actual {
  position: static;
}
.cont.sig {
  position: absolute;
  transform: translate(0, 150%);
  opacity: 0;
}

.botones {
  position: fixed;
  z-index: 998;
  bottom: 10px;
}
.vacio {
  position: relative;
  top: -14px;
}
p,
div {
  animation: aparecer 1s;
}
@keyframes aparecer {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
.linea {
  position: relative;
}
.texto {
  margin-bottom: 0;
}
.vida {
  height: 23px;
}
.vida img {
  max-height: 100%;
}
.vida.total {
  position: relative;
}
.vida.anterior {
  position: absolute;
  bottom: 0;
  z-index: 2;
}
.vida.jugador {
  position: absolute;
  bottom: 0;
  z-index: 3;
}
.vida.extra {
  position: relative;
}
.finalista {
  font-size: 30px;
}
