:root {
  --color-header: rgb(0, 0, 0);
  --color-menulinks: #ffe4c4; /* bisque */
  --color-menulinks-hover: #fff; /* white */
  --color-footer: black;
}
/* TIPOGRAFIAS */

@font-face {
  font-family: "Monoton";
  font-style: normal;
  font-weight: 400;
  src: local("Iceland"), local("Iceland-Regular"),
    url(http://themes.googleusercontent.com/static/fonts/iceland/v3/F6LYTZLHrG9BNYXRjU7RSw.woff)
      format("woff");
}

/* GENERAL */
@keyframes aparecer {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
html {
  scroll-behavior: smooth;
}
body {
  animation: aparecer 2s;
  min-width: 200px;
  overflow-x: hidden;
  overflow-wrap: break-word;
}
main {
  min-height: 80vh;
}
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}

/* HEADER */
.header {
  position: sticky;
  top: 0;
  z-index: 999;
  display: grid;
  align-items: center;
  padding-top: 2vh;
  grid-template-columns: max-content auto;
  grid-template-rows: 80%;
  background: var(--color-header);
  transition: height 0.5s ease;
  height: 13vh;
}
.header.sticky {
  height: 18vh;
}
header > section > a {
  width: 80px;
  height: 70px;
  margin-left: 1rem;
}
.header > section {
  display: grid;
  grid-template-columns: max-content auto;
  align-items: center;
}
.logo-img {
  height: 100%;
  object-fit: contain;
  transition: transform 1s ease;
}
.logo-link {
  transition: transform 0.5s ease;
}
.logo-link.sticky {
  transform: scale(1.2);
}
h1 > a {
  color: inherit;
}
h1 {
  width: max-content;
  font-family: Monoton;
  font-size: min(7vw, 60px);
  transition: transform 0.5s ease;
  transform-origin: left;
}
h1.sticky {
  transform: scale(1.2);
}
.panel-btn {
  width: max-content;
  justify-self: right;
  border-radius: 30%;
  display: flex;
  z-index: 999;
  margin-right: 0.5rem;
  transform: scale(0.7);
  transition: transform 0.5s ease;
  transform-origin: right;
}
.panel-btn.sticky {
  transform: scale(0.8);
}

/* ASIDE */
aside {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  z-index: 997;
  width: 25%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  border-radius: 0%;
  transition: transform 0.3s ease;
  transform: translate(100%, 0);
}
aside.is-active {
  transform: translate(0%, 0%);
}
aside > nav {
  position: relative;
  top: 10rem;
}
.menu {
  width: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
}
.menu a {
  color: var(--color-menulinks);
  margin-top: 40px;
  font-size: 50pxx;
  transition: all o.3s ease;
}
.menu a:hover {
  font-weight: bold;
  color: var(--color-menulinks-hover);
  /* background-color: rgb(223, 223, 105); */
}

/* FOOTER */
footer {
  background-color: black;
  height: 100px;
  color: white;
  display: grid;
  align-items: center;
  justify-content: center;
  justify-items: center;
  position: sticky;
  top: 100%;
}
