:root {
  --color-header: #222;
  --color-menulinks: #ffe4c4; /* bisque */
  --color-menulinks-hover: #fff; /* white */
}
@font-face {
  font-family: "Monoton";
  font-style: normal;
  font-weight: 400;
  src: local("Iceland"), local("Iceland-Regular"),
    url(http://themes.googleusercontent.com/static/fonts/iceland/v3/F6LYTZLHrG9BNYXRjU7RSw.woff)
      format("woff");
}
@font-face
{
  font-family: lolo;
  src: url(./../assets/GODOFWAR.TTF);
}
body {
  animation: aparecer 2s;
  min-width: 200px;
}
@keyframes aparecer {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
a {
  text-decoration: none;
}

/* HEADER */
.header {
  position: sticky;
  top: 0;
  z-index: 999;
  display: grid;
  align-items: center;
  padding-top: 1rem;
  grid-template-columns: max-content auto max-content;
  grid-template-rows: 80%;
  background: var(--color-header);
  transition: height 0.5s ease;
  height: 6rem;
}
.header.sticky {
  height: 8rem;
}
header > a {
  width: 80px;
  height: 70px;
  margin-left: 1rem;
}
.logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: transform 1s ease;
  /* animation: rotar 10s linear infinite; */
}
/* @-webkit-keyframes rotar {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
} */
h1 {
  width: max-content;
  font-family: Monoton;
  font-size: min(7vw, 60px);
}
.header > * {
  transition: transform 0.5s ease, margin-left 0.5s ease, margin-right 0.5s ease;
}
h1.sticky {
  margin-left: 3vw;
}
.panel-btn.sticky {
  margin-right: 1rem;
  transform: scale(0.8);
}
a.sticky,
h1.sticky {
  transform: scale(1.2);
}
h1 > a {
  color: inherit;
}
.panel-btn {
  border-radius: 30%;
  display: flex;
  z-index: 999;
  margin-right: 0.5rem;
  transform: scale(0.7);
}
/* ASIDE */
aside {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  z-index: 997;
  width: 25%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  border-radius: 0%;
  transition: transform 0.3s ease;
  transform: translate(100%, 0);
}
aside.is-active {
  transform: translate(0%, 0%);
}
aside > nav {
  position: relative;
  top: 10rem;
}
.menu {
  width: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
}
.menu a {
  color: var(--color-menulinks);
  margin-top: 40px;
  font-size: 50pxx;
  transition: all o.3s ease;
}
.menu a:hover {
  font-weight: bold;
  color: var(--color-menulinks-hover);
  /* background-color: rgb(223, 223, 105); */
}
