/* MAIN */
main img {
  width: 250px;
}
/* TIPOGRAFIAS */
@font-face {
  font-family: minecrafter;
  src: url(/assets/tipografias/Minecrafter.Alt.ttf);
}
@font-face {
  font-family: amongUs;
  src: url(/assets/tipografias/AmongUsFilled-Regular.ttf);
}

/* TITULOS */
.titulo {
  text-shadow: 0 1px 0 rgb(2, 2, 2), 0 2px 0 #201e1e, 0 3px 0 rgb(22, 20, 20),
    0 4px 0 #131212, 0 5px 0 rgb(17, 16, 16), 0 6px 1px rgba(0, 0, 0, 0.1),
    0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3),
    0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
}
.t1 {
  -webkit-text-stroke: 0.9px rgb(0, 0, 0);
  color: rgb(175, 175, 175);
  font-family: minecrafter;
  font-size: 3em;
}
.t2 {
  font-family: amongUs;
  font-size: 2em;
}

/* CUBO */
.cube *{
  cursor: pointer;
}
.cube {
  margin-left: 40px;
  position: relative;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  animation: rotarCube 4s linear infinite;
}
@keyframes rotarCube {
  0% {
    transform: rotateX(-30deg) rotateY(0deg);
  }
  100% {
    transform: rotateX(-30deg) rotateY(360deg);
  }
}
.cube div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  transform-style: preserve-3d;
}
.cube div span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0.01px transparent solid;
  background-image: url(/assets/cubes/minecraft/frente.jpg);
  transform: rotateY(calc(90deg * var(--i))) translateZ(100.01px);
}
.top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0.5px rgb(109, 211, 109) solid;
  background-image: url(/assets/cubes/minecraft/superior.jpg);
  transform: rotateX(90deg) translateZ(101px);
}
.top::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  background: rgb(29, 31, 29);
  transform: translateZ(-380px);
  filter: blur(20px);
  box-shadow: 0 0 120px rgba(16, 18, 16, 0.2), 0 0 200px rgba(44, 45, 44, 0.4),
    0 0 300px rgba(62, 63, 62, 0.6), 0 0 400px rgba(29, 30, 29, 0.8),
    0 0 500px rgba(0, 255, 0, 0.1);
}

/* PROXIMAMENTE */
.cubep {
  margin-left: 100px;
  position: relative;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  animation: rotarCube 4s linear infinite;
}
@keyframes rotarCube {
  0% {
    transform: rotateX(-30deg) rotateY(0deg);
  }
  100% {
    transform: rotateX(-30deg) rotateY(360deg);
  }
}
.cubep div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  transform-style: preserve-3d;
}
.cubep div span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0.01px black solid;
  background-image: url(/assets/cubes/pregunta.gif);
  transform: rotateY(calc(90deg * var(--i))) translateZ(100.01px);
}
.topp {
  position: absolute;
  top: 0;
  left: 0;
  width: 205px;
  height: 205px;
  border: 0.01px black solid;
  background-color: black;
  transform: rotateX(90deg) translateZ(100.08px);
}
.topp::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  background: rgb(29, 31, 29);
  transform: translateZ(-380px);
  filter: blur(20px);
  box-shadow: 0 0 120px rgba(16, 18, 16, 0.2), 0 0 200px rgba(44, 45, 44, 0.4),
    0 0 300px rgba(62, 63, 62, 0.6), 0 0 400px rgba(29, 30, 29, 0.8),
    0 0 500px rgba(0, 255, 0, 0.1);
}
.text-white {
  text-decoration: none;
  color: gray;
}
