
body h1 {
    margin: 0;
    font-family: 'Teko', sans-serif;
    animation: glow 2s ease-in-out infinite alternate;
  }
  @keyframes glow {
    from {
      text-shadow: 0 0 20px rgb(212, 199, 202);
    }
    to {
      text-shadow: 0 0 30px #991b60, 0 0 10px rgb(207, 17, 49);
    }
  }