
body h1 {
    margin: 0;
    font-family: 'Teko', sans-serif;
    animation: glow 2s ease-in-out infinite alternate;
  }
  @keyframes glow {
    from {
      text-shadow: 0 0 20px rgb(134, 67, 221);
    }
    to {
      text-shadow: 0 0 30px #ff2faf, 0 0 10px rgb(182, 11, 139);
    }
  }
  
/* body h2 {
  margin: 0;
  font-family: 'Teko', sans-serif;
  animation: glow 2s ease-in-out infinite alternate;
}
@keyframes glow {
  from {
    text-shadow: 0 0 20px rgb(205, 226, 188);
  }
  to {
    text-shadow: 0 0 30px #b45087, 0 0 10px rgb(65, 63, 194);
  }
} */