body{
    margin: 0;
    background: #CCFFBD;
    height: 1000px;
}

.header{
    background: #100f0f;
  padding: 4rem 0;
  position: sticky;
  top:0;
  z-index: 999;
}
div {
    animation: aparecer 2s;
  }
  @keyframes aparecer {
    from {
      opacity: 0;
      visibility: hidden;
    }
    to {
      opacity: 1;
      visibility: visible;
    }
  }
#section2{
    margin:0;
}

section{
    margin: 20px;
}
.mDescription{
    border: 1.5px rgb(0, 0, 0) solid;
    border-radius: 15px;
    background-color:lightgreen ;
    width: 65%;
    margin: auto;
    margin-left: 10px;
    float: left;
    padding: 25px;
}
.mImg{
    margin: auto;
    width: 25%;
    margin-right: 10px;
    margin-bottom: 80px;
    
}
main{
    border: 5px red solid;

    margin: 50px;

}

.container{
    position: relative;
}


.logo {
position: absolute;
top:18px;
align-items: center ;
display: flex;

}

p1{
    font-family:COCHIN;
    color: #76BA99;
    font-size: 70px;
    letter-spacing: 5px;
    }


p{
    display: inline-block;
}

button{
    width: 20rem;
    color:#16131d;

}

aside{
    border: black solid;
    border-radius: 4.5%;
    text-align: center;
    background-color: #22b132;
}
#imgdmine
{
    border-top-left-radius: 4.5%;
    border-top-right-radius:4.5%;
}
#b1{
    width: 320.5px;
    height: 30px;
    background-color: white;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border-top: 1px black solid;
    text-align: center;
    padding-top: 5px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium';
}
.grid2{
    display: inline-flex;
    gap:1em;
    flex-wrap: wrap;

}
#M{
    color: white;
    background-color: rgb(96, 194, 96);
    margin-left: 50px;
    border: #16131d inset;
    max-height: 120px;
    max-width: 280px;
    font-size:24px;
    margin-bottom: 28px;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(100, 62, 26);
}
h1{
    margin: 0px;
}
.grid2 div {
    width: 195px;
    height: 110px;
    background: lightgreen;
     padding: 10px;
     margin: 0px;
     border: 1px black solid;
     border-radius: 30px;
     font-family: 'Gill Sans';
}
.grid2 input{
    width: 100%;
    border-radius: 30px;
}

.container{
    float:right;
    margin-bottom:10px;
    width: auto;
    bottom: 100%;
    display: inline-flex;
}

.grid{
    display: grid;
    background: lightgreen;
    padding: 1em;
    margin: 1em;
    text-align: center;
    height:;
    width: 300PX;
    border: 1px black solid;
    border-radius: 20px ;
    font-size: 20PX;
    font-family: 'Franklin Gothic Medium';
}




.container2{
    float:left;
    margin-top:40px;
    margin-left: 10px;
}

#nomb{
    background: lightgrey;
}

#imgdmine div:hover{
    background: #CCFFBD;
}
