body{
    margin: 0;
    background: #CCFFBD;
    height: 1000px;
}

.header{
    background: #100F0F ;
    padding: 4rem 0;
    position: relative;
}
h1{
    margin-left: 50px;
    border: #16131d inset;
    max-width: 300px;
}

#section2{
    margin:0;
}

section{
    margin: 20px;
}
.mDescription{
    border: 5px orange solid;
    width: 65%;
    margin: auto;
    margin-left: 10px;
    float: left;
    padding: 25px;
}
.mImg{
    margin: auto;
    width: 25%;
    margin-right: 10px;
    margin-bottom: 80px;
    
}
main{
    border: 5px red solid;

    margin: 50px;

}

.container{
    position: relative;
}


.logo {
position: absolute;
top:18px;
align-items: center ;
display: flex;

}

p1{
    font-family:COCHIN;
    color: #76BA99;
    font-size: 70px;
    letter-spacing: 5px;
    }


h1{
    font-size:3rem;
    
}

p{
    display: inline-block;
}

button{
    width: 20rem;
    color:#16131d;

}

aside{
    border: black solid;
    border-radius: 4.5%;
    text-align: center;
    background-color: #22b132;
}
#imgdmine
{
    border-top-left-radius: 4.5%;
    border-top-right-radius:4.5%;
}
#b1{
   width: 320.5px;
   height: 30px;
    background-color: white;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border-top: 1px black solid;
    text-align: center;
    padding-top: 5px;
    font-size: 20px;
}
.grid2{
    display: grid;
    grid-template-columns: repeat(5,210px);
    gap:1em;
}

.grid2 div {
     background: lightgreen;
     padding: 1em;
     margin: 0px;
     border-color: black solid;
     border-radius: 30px;
}

.container{
    float:right;
    margin-bottom:10px;
}

.grid{
    display: grid;
    grid-template-columns: 200px;
    grid-template-rows: auto;
    height:410px;
}

.grid div{
    background: lightslategrey;
    padding: 1em;
    text-align: center;
    border-radius: 20px ;
}


.container2{
    float:left;
    margin-top:40px;
    margin-left: 10px;
}

#nomb{
    background: lightgrey;
}

#imgdmine div:hover{
    background: #CCFFBD;
}
