body{
    margin: 0;
    background: #DBD8E3;
    height: 1000px;
}

.header{
    background: #16131d ;
    padding: 4rem 0;
    position: relative;
}
h1{
    margin-left: 50px;
    border: #16131d inset;
    max-width: 300px;
}


section{
    margin: 20px;
}
.mDescription{
    border: 5px orange solid;
    width: 65%;
    margin: auto;
    margin-left: 10px;
    float: left;
    padding: 25px;
}
.mImg{
    margin: auto;
    width: 25%;
    margin-right: 10px;
    margin-bottom: 200px;
    
}
main{
    border: 5px red solid;

    margin: 50px;

}

.container{
    position: relative;
}


.logo {
position: absolute;
top:18px;
align-items: center ;
display: flex;

}

p1{
    font-family:COCHIN;
    color: violet;
    font-size: 70px;
    letter-spacing: 5px;
    }


h1{
    font-size:3rem;
    
}

p{
    display: inline-block;
}

button{
    width: 20rem;
    color:#16131d;
}

aside{
    border: red solid;
}
