.panel {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("./../assets/descarga.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0;
  visibility: hidden;
}
.panel.is-active {
  visibility: visible;
  animation: twinkle 0.00001s infinite alternate;
}
@keyframes twinkle {
  0% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.9;
  }
}
