.panel {
  background-color: rgba(206, 200, 200, 0.5);
  z-index: 997;
  width: 100%;
  height: 100%;
  transition: transform 0s ease;
  transform: translate(0%,-100%);
  animation: twinkle 0.00001s infinite alternate;
}
.panel.is-active {
  transform: translate(0%, 0%);
}

div {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 998;
}
img {
  width: 100%;
  height: 100%;
}
.bt {
  width: 10rem;
  height: 2 rem;
}

@keyframes twinkle {
  0% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.9;
  }
}

/* .panel {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
 }
 @-webkit-keyframes panel {
  0%, 50%, 100% {
  opacity: 1;
  }
 25%, 75% {
  opacity: 0;
  }
 }
 @keyframes panel {
  0%, 50%, 100% {
  opacity: 1;
  }
 25%, 75% {
  opacity: 0;
  }
 } */
