
.f1{
    background-color:#16131d ;
    height: 90px;
    width: 1358px; 
    margin: 0px;
    padding: 0px;
}
.f2{
   
    }
img {
float: left;

}
.l{
    color:blue;
    font-family:Times New Roman;
    font-size:xx-large; 
    
}
p1{
    font-family:COCHIN;
    color: violet;
    font-size: 70px;
    }
.mine{
    

}
p3{

}